## Задача 1
Скачать файл в уроке
Считать данные с помощью pandas
Вывести на экран первые 5 строк
Посмотреть на описание признаков и на их содержание

In [9]:
import pandas as pd
df = pd.read_csv('D:\IT-технологии\Курс Основы Python для аналитиков\kc-house-data.csv', sep = ',')

In [2]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

### Задача 2
Проведите первичный анализ данных
Изучите типы данных
Найдите количество пропущенных ячеек в данных
Посчитайте основные статистики по всем признакам и поизучайте их

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

Все столбцы датасета  состоят из числовых данных(int64 ,float64), кроме стобца date ,тип данных (object).Таблица не содержит пустых ячеек.

In [5]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

## Задача 3

Ответьте на несколько вопросов

### 3.1
В каком диапазоне изменяются стоимости недвижимости?

In [ ]:
df['price'].min(), df['price'].max()

### 3.2 
Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [9]:
df['sqft_living'].mean() *100 / df['sqft_lot'].mean()

13.76781757959227

### 3.3 
Как много домов с разными этажами в данных?

In [12]:
df['floors'].value_counts()

floors
1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: count, dtype: int64

### 3.4 
Насколько хорошие состояния у домов в данных?

In [17]:
df['condition'].value_counts()

condition
3    14031
4     5679
5     1701
2      172
1       30
Name: count, dtype: int64

### 3.5
Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [18]:
df['yr_built'].min(), df['yr_built'].max()

(1900, 2015)

## Задача 4
### 4.1
Сколько в среднем стоят дома, у которых 2 спальни?

In [3]:
df[df['bedrooms']==2]['price'].mean()

401372.681884058

### 4.2 
Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [4]:
df[df['price']>600000]['sqft_lot'].mean()

20442.524776214832

### 4.3 
Как много домов коснулся ремонт?

In [23]:
df[(df['yr_renovated'] != 0)].value_counts()

id          date             price      bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  condition  grade  sqft_above  sqft_basement  yr_built  yr_renovated  zipcode  lat      long      sqft_living15  sqft_lot15
3600057     20150319T000000  402500.0   4         2.00       1650         3504      1.0     0           0     3          7      760         890            1951      2013          98144    47.5803  -122.294  1480           3504          1
5595900345  20150113T000000  460000.0   4         2.75       3460         13168     2.0     0           0     4          8      3460        0              1932      1986          98022    47.2046  -121.996  1500           7670          1
5630500005  20141120T000000  262500.0   2         1.50       1140         14373     1.0     0           0     3          7      1140        0              1949      1996          98011    47.7354  -122.219  2140           9860          1
5643600351  20140806T000000  257000.0   4         1.75       1900         22896     1.5     0           0     3          7      1360        540            1922      1990          98010    47.3102  -122.023  1300           8960          1
5649600435  20150108T000000  349950.0   5         2.00       1880         4179      1.0     0           0     3          7      940         940            1952      2000          98118    47.5536  -122.283  1350           5150          1
                                                                                                                                                                                                                                           ..
2464400280  20150504T000000  710000.0   4         3.50       2850         2910      2.0     0           2     3          8      1970        880            1905      1996          98115    47.6855  -122.321  1460           3880          1
2472950350  20150411T000000  312500.0   4         2.50       2500         11983     1.0     0           0     3          7      1320        1180           1984      2008          98058    47.4292  -122.148  1460           9005          1
2473100450  20140909T000000  330000.0   4         2.00       1590         9100      1.0     0           0     3          7      1040        550            1967      2014          98058    47.4465  -122.156  1670           9100          1
2473100635  20140508T000000  297950.0   3         2.00       1240         10800     1.0     0           0     3          7      1240        0              1967      2010          98058    47.4490  -122.155  1480           8840          1
9829200250  20150105T000000  1697000.0  3         2.00       2600         6600      2.0     0           4     3          10     1930        670            1970      2014          98122    47.6055  -122.285  2670           6270          1
Name: count, Length: 914, dtype: int64

### 4.4 
Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [17]:
price_10 = df[df['grade']>10]['price'].mean()
price_10
price_4 = df[df['grade']<4]['price'].mean()
price_4
price_10 - price_4

1488885.1175298805

## Задача 5
Ответьте на несколько вопросов
## 5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [25]:
df[(df['waterfront'] == 1) & (df['bathrooms'] > 3) & (df['sqft_basement'] != 0)].value_counts()

id          date             price      bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  condition  grade  sqft_above  sqft_basement  yr_built  yr_renovated  zipcode  lat      long      sqft_living15  sqft_lot15
518500460   20141008T000000  2230000.0  3         3.50       3760         5634      2.0     1           4     3          11     2830        930            2014      0             98056    47.5285  -122.205  3560           5762          1
518500480   20140811T000000  3000000.0  3         3.50       4410         10756     2.0     1           4     3          11     3430        980            2014      0             98056    47.5283  -122.205  3550           5634          1
3761100045  20140618T000000  3000000.0  4         4.25       4850         12445     2.0     1           4     5          10     3850        1000           1989      0             98034    47.7011  -122.244  3350           12210         1
4030100290  20141001T000000  1680000.0  5         3.50       5170         7197      3.0     1           4     3          11     3520        1650           1998      0             98155    47.7561  -122.271  3020           12880         1
4114601570  20141118T000000  3600000.0  3         3.25       5020         12431     2.0     1           4     3          10     3420        1600           1941      2002          98144    47.5925  -122.287  3680           12620         1
4114601580  20140724T000000  1900000.0  6         4.00       3020         13237     2.0     1           4     3          8      2840        180            1942      1983          98144    47.5924  -122.287  3680           12620         1
4217402115  20150421T000000  3650000.0  6         4.75       5480         19401     1.5     1           4     5          11     3910        1570           1936      0             98105    47.6515  -122.277  3510           15810         1
5119400075  20140620T000000  950000.0   3         3.25       3050         18892     1.0     1           4     4          8      1650        1400           1962      0             98198    47.3881  -122.326  1170           70973         1
6613000930  20140902T000000  2950000.0  4         3.25       3890         25470     2.0     1           3     5          10     3030        860            1923      0             98105    47.6608  -122.269  4140           19281         1
7352200450  20150115T000000  2050000.0  4         3.25       3580         19989     1.5     1           4     4          7      3480        100            1915      1965          98125    47.7087  -122.276  2410           6389          1
7558700030  20150413T000000  5300000.0  6         6.00       7390         24829     2.0     1           4     4          12     5000        2390           1991      0             98040    47.5631  -122.210  4320           24619         1
7636800041  20140625T000000  995000.0   3         4.50       4380         47044     2.0     1           3     3          9      3720        660            1968      1990          98166    47.4734  -122.365  2460           18512         1
7738500731  20140815T000000  4500000.0  5         5.50       6640         40014     2.0     1           4     3          12     6350        290            2004      0             98155    47.7493  -122.280  3030           23408         1
8043700105  20150417T000000  2300000.0  4         4.00       4360         8175      2.5     1           4     3          10     3940        420            2007      0             98008    47.5724  -122.104  2670           8525          1
8043700300  20140608T000000  2700000.0  4         3.25       4420         7850      2.0     1           4     3          11     3150        1270           2001      0             98008    47.5720  -122.102  2760           8525          1
9253900271  20150107T000000  3567000.0  5         4.50       4850         10584     2.0     1           4     3          10     3540        1310           2007      0             98008    47.5943  -122.110  3470           18270         1
9362000040  20140623T000000  3400000.0  3         4.50       5230         17826     2.0     1           4     3          10     3740        1490           2005      0             98040    47.5348  -122.243  3670           17826         1
3625059152  20141230T000000  3300000.0  3         3.25       4220         41300     1.0     1           4     4          11     2460        1760           1958      1987          98008    47.6083  -122.110  3810           30401         1
3625059043  20140904T000000  3300000.0  5         4.75       6200         13873     2.0     1           4     4          11     4440        1760           1989      0             98008    47.6050  -122.112  2940           13525         1
3426049284  20140819T000000  2300000.0  4         3.25       4110         15929     2.0     1           4     3          12     2720        1390           2001      0             98115    47.6934  -122.271  2640           15929         1
1269200229  20140723T000000  1379900.0  3         3.25       3786         38038     1.0     1           4     3          9      1934        1852           1978      2006          98070    47.3907  -122.448  2850           33361         1
623059016   20140717T000000  1100000.0  4         3.25       3190         11774     2.0     1           4     3          8      2610        580            1956      1991          98178    47.5033  -122.225  2240           8725          1
624069035   20141209T000000  2750000.0  4         4.00       4130         5575      2.0     1           4     4          10     2860        1270           1993      0             98075    47.5968  -122.083  2980           5575          1
624069108   20140812T000000  3200000.0  4         3.25       7000         28206     1.0     1           4     4          12     3500        3500           1991      0             98075    47.5928  -122.086  4913           14663         1
625059036   20140813T000000  2700000.0  5         4.00       4230         27295     2.0     1           4     3          8      3230        1000           1949      1985          98033    47.6803  -122.214  2660           27295         1
825059178   20140923T000000  2574000.0  4         3.75       4475         20424     2.0     1           4     3          12     2659        1816           1999      0             98033    47.6646  -122.208  4340           5250          1
1247600105  20141020T000000  5110800.0  5         5.25       8010         45517     2.0     1           4     3          12     5990        2020           1999      0             98033    47.6767  -122.211  3430           26788         1
1724069079  20150319T000000  1452000.0  2         3.25       2070         3128      2.0     1           3     3          9      1760        310            1988      0             98075    47.5686  -122.060  2740           3568          1
3225069065  20140624T000000  3075000.0  4         5.00       4550         18641     1.0     1           4     3          10     2600        1950           2002      0             98074    47.6053  -122.077  4550           19508         1
1924059029  20140617T000000  4668000.0  5         6.75       9640         13068     1.0     1           4     3          12     4820        4820           1983      2009          98040    47.5570  -122.210  3270           10454         1
1925069082  20150511T000000  2200000.0  5         4.25       4640         22703     2.0     1           4     5          8      2860        1780           1952      0             98052    47.6393  -122.097  3140           14200         1
2024069008  20140619T000000  2200000.0  5         4.75       5990         10450     2.0     1           4     3          11     4050        1940           2002      0             98027    47.5554  -122.077  3330           14810         1
2623039082  20150218T000000  770000.0   3         3.50       2050         21744     2.0     1           4     4          9      1750        300            1930      0             98166    47.4536  -122.376  2300           12200         1
2923500230  20141216T000000  2600000.0  4         4.50       5270         12195     2.0     1           4     3          11     3400        1870           1979      0             98027    47.5696  -122.090  3390           9905          1
3126059023  20150303T000000  3395000.0  4         3.50       4730         47870     1.0     1           4     3          10     2940        1790           1954      0             98033    47.6967  -122.216  3250           49346         1
9808700762  20140611T000000  7062500.0  5         4.50       10040        37325     2.0     1           2     3          11     7680        2360           1940      2001          98004    47.6500  -122.214  3930           25449         1
Name: count, dtype: int64

### 5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

### 5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [28]:
client_choice = df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price'] < 150000)]
client_choice['condition'].mean()

2.8333333333333335